// Fonts
$inter: 'Inter', sans-serif;
$lh: 27px;
$lh-normal: normal;

// Fonts options
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;

// Media
$mobile: 360px;
$mobile430: 430px;
$tablet: 768px;
$big-tablet: 992px;
$desktop: 1440px;

// Colors
$primary-color: #373435;
$secondary-color: #FFFFFF;
$dark-color: #585555;

$accent-color: #009652; // акцентные элементы, стрелки, ссылки и т.д