@use '../vars' as *;

.analytics-section {

    &__articles {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        gap: 20px;
        margin-top: 30px;
    }

    &__main {
        width: 100%;
        max-width: 780px;
        display: flex;
        align-items: stretch;
        gap: 20px;
    }

    &__side {
        width: 100%;
        max-width: 380px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 33.5px;
    }

    &__article {

        &-date {
            font-size: 16px;
            font-weight: $fw-medium;
        }

        &-title {
            font-weight: $fw-semibold;
        }

        &--big {
            position: relative;
            width: 100%;
            min-height: 493px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: calc(52% - 20px);
            padding: 282px 28px 43px 30.5px;
            cursor: pointer;
            transition: all 0.3s ease;
            overflow: hidden;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0);
                transition: background-color 0.3s ease;
                pointer-events: none;
                z-index: 0;
            }

            &:hover::before {
                background-color: rgba(0, 0, 0, 0.3);
            }

            .analytics-section__article-title {
                // font-size: 20px;
                font-size: clamp(1rem, 0.917rem + 0.37vw, 1.25rem);
                line-height: $lh;
                color: $secondary-color;
                margin-top: 15px;
                position: relative;
                z-index: 2;
            }

            .analytics-section__article-date {
                color: $secondary-color;
                margin-top: 27px;
                position: relative;
                z-index: 2;
            }

            .tag {
                position: relative;
                z-index: 2;
            }

        }

        &--small {
            display: flex;
            gap: 10px;
            cursor: pointer;

            .analytics-section__article-info {
                max-width: 203px;
            }

            .analytics-section__article-img {
                width: 100%;
                max-width: 167px;
                height: 142px;
            }

            &:hover .analytics-section__article-img {
                filter: grayscale(1);
            }


            .analytics-section__article-title {
                font-size: 15px;
                transition: all .3s;
                margin-top: 8.33px;
            }

            &:hover .analytics-section__article-title {
                color: $accent-color;
            }

            .analytics-section__article-descr {
                font-size: 14px;
                font-weight: $fw-regular;
                margin-top: 8.33px;
            }

            .analytics-section__article-date {
                color: rgba($color: $dark-color, $alpha: 50%);
                margin-top: 8.33px;
            }

        }

    }

}

@media(max-width: 992px) {

    .analytics-section {

        &__main {
            max-width: 100%;
            gap: 30px;
        }

        &__side {
            max-width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 30px;
        }

        &__articles {
            flex-direction: column;
            gap: 30px;
        }

        &__article {
            &--small {
                width: calc(51.5% - 30px);
            }
        }

    }

}

@media(max-width: 768px) {

    .analytics-section {

        &__article {
            &--small {
                width: 100%;
                justify-content: space-between;
            }
        }

        &__side {
            flex-direction: column;
        }

    }

}

@media(max-width: 640px) {

    .analytics-section {

        &__main {
            flex-direction: column;
        }

        &__article {
            &--big {
                width: 100%;
            }
        }

    }

}

@media(max-width: 430px) {

    .analytics-section {

        &__article {

            &--big {
                padding: 282px 27px 40px 27px;

                .analytics-section__article-tag {
                    margin: 0 auto;
                }

                .analytics-section__article-title {
                    max-width: 254px;
                    text-align: center;
                    line-height: normal;
                    text-wrap: balance;
                    margin: 20px auto;
                }

                .analytics-section__article-date {
                    text-align: center;
                }

            }

            &--small {

                .analytics-section__article-info {
                    max-width: max-content;
                }

                .analytics-section__article-img {
                    max-width: 94px;
                }

                .analytics-section__article-date {
                    font-size: 14px;
                }

            }

        }
    }

}