@use '../vars' as *;

.archive-section {

    &__cards {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        column-gap: 20px;
        row-gap: 45px;
        margin-top: 30px;
    }

    &__card {
        width: calc(25.424% - 20px);
        display: flex;
        align-items: stretch;
        flex-direction: column;
        transition: all .3s;
        // padding: 14px 15px;

        &:hover {
            outline: 1px solid rgba($accent-color, 30%);
            outline-offset: 15px;
        }

        &:has(.widget-events):hover {
            outline: none;
        }

        // &:has(.widget-events) {
        //     padding: 0;
        // }

        .widget-events {
            max-width: 100%;
            height: 100%;

            &__more {
                margin-top: auto;
            }

        }

        &-header {
            position: relative;
            width: 100%;
        }

        &-img {
            width: 100%;
            height: 246px;
            object-position: top;
        }

        &-tag {
            position: relative;
        }

        &-bottom {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;
            margin-top: 15px;
        }

        &-date {
            font-size: 16px;
            font-weight: $fw-medium;
            color: rgba($color: $dark-color, $alpha: 50%);
        }

        &-title {
            // font-size: 20px;
            // font-size: clamp(1rem, 0.917rem + 0.37vw, 1.25rem);
            font-size: clamp(1rem, 0.958rem + 0.19vw, 1.125rem);
            line-height: normal;
            font-weight: $fw-semibold;
            color: $primary-color;
        }

        &-descr {
            font-size: 14px;
            font-weight: $fw-regular;
            color: $primary-color;
            text-wrap: balance;

            // Обрезка текста с троеточием
            // overflow: hidden;
            // display: -webkit-box;
            // -webkit-line-clamp: 3;
            // line-clamp: 3;
            // -webkit-box-orient: vertical;
        }

        &-geo {
            position: relative;
            width: max-content;
            font-size: 15px;
            font-weight: $fw-medium;
            color: rgba($color: $dark-color, $alpha: 50%);
            padding-left: 26px;

            &::before {
                position: absolute;
                content: "";
                width: 13px;
                height: 14px;
                background-image: url('/assets/icons/geo-icon.svg');
                top: 50%;
                transform: translateY(-50%);
                left: 0;
            }

        }

        &-more {
            width: max-content;
            position: relative;
            display: block;
            align-self: end;
            font-size: 14px;
            font-weight: $fw-medium;
            color: $accent-color;
            text-decoration: underline;
            margin-top: auto;

            &:hover {
                color: $accent-color;
                text-decoration: none;
            }
        }

    }

    &--alt-tags &__card {

        &-tag {
            position: absolute;
            bottom: 0px;
            left: 0px;
        }
        
        &-header:not(:has(img.archive-section__card-img)) .archive-section__card-tag {
            position: relative;
            bottom: auto;
            left: auto;
        }

    }

    &--three-cols &__card {
        &-more {
            align-self: flex-start;
            color: $secondary-color;
            text-decoration: none;
            background-color: $accent-color;
            padding: 11px 18px 13px 18px;
        }
    }

}

@media(min-width: 993px) {
    .archive-section {
        &--three-cols &__card {
            width: calc(33.89% - 20px);
        }
    }
}

@media(max-width: 992px) {

    .archive-section {

        &__cards {
            gap: 30px;
        }

        &__card {
            width: calc(51.5% - 30px);
        }

    }

}

@media(max-width: 768px) {

    .archive-section {
        gap: 30px;

        &__card {
            width: calc(50.6% - 30px);
        }

    }

}

@media(max-width: 530px) {

    .archive-section {

        &__card {
            width: 100%;

            &-title {
                line-height: normal;
            }
        }

    }

}

@media(max-width: 430px) {

    .archive-section {

        &__cards {
            gap: 30px;
        }

        &__card {
            width: 100%;
            align-items: center;

            &-geo {
                font-size: 14px;
            }

            &-more {
                align-self: self-start;
            }

            .widget-events {
                &__more {
                    margin-top: 25px;
                }
            }

        }

    }

}