@use '../vars' as *;

.archive-news {

    &__items {
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-top: 40px;
    }

    &__item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        border: 1px solid #E2E2E2;
        padding: 20px;

        &-img {
            width: 100%;
            max-width: 231px;
            height: 203px;
        }

        &-info {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        &-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-data {
            font-size: 16px;
            font-weight: 500;
            color: rgba(88, 85, 85, 0.5);
        }

        &-title {
            // max-width: 698px;
            // font-size: 20px;
            font-size: clamp(1rem, 0.917rem + 0.37vw, 1.25rem);
            font-weight: $fw-semibold;
            line-height: $lh;
            text-wrap: pretty;
        }

        &-descr {
            max-width: 824px;
            font-size: 14px;
            font-weight: $fw-regular;
        }

        &-link {
            width: max-content;
            position: relative;
            display: block;
            font-size: 14px;
            font-weight: 500;
            color: #009652;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }

        }

    }

    &__loader {
        width: 20px;
        margin: 30px auto;
    }

}

@media(max-width: 640px) {

    .archive-news {

        &__item {
            flex-direction: column;

            &-img {
                width: 100%;
                max-width: 100%;
            }

        }

    }
}

@media (max-width: 430px) {

    .archive-news {

        &__items {
            gap: 40px;
        }

        &__item {
            gap: 15px;

            &-header {
                align-items: flex-start;
                flex-direction: column-reverse;
                gap: 15px;
            }

            &-title {
                line-height: $lh-normal;
            }

        }

    }

}