@use '../vars' as *;

.tag {
    // width: max-content;
    width: fit-content;
    display: block;
    font-size: 14px;
    font-weight: $fw-regular;
    background-color: $accent-color;
    color: $secondary-color;
    padding: 4px 6px;
}