@use '../vars' as *;

.header__burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
    width: 100%;
    max-width: 46px;
    height: 46px;
    background-color: #D9D9D9;
    cursor: pointer;
    padding: 7.5px;

    span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: $accent-color;
        border-radius: 2px;
    }
}

@media(max-width: 1366px) {

    .header__burger {
        display: flex;
        max-width: none;
        width: 46px;
        flex-shrink: 0;
    }

}