@use '../vars' as *;

.expert-opinion {
    border: none;
    background-color: #E6F5EE;
    padding: 19px 49px 19px 15px;

    &__title {
        font-size: 20px;
        font-weight: $fw-semibold;
    }

    &__descr {
        font-size: 16px;
        font-weight: $fw-regular;
        margin-top: 15px;
    }

    &__bottom {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 15px;

        &-img {
            width: 100%;
            max-width: 45px;
            height: auto;
            margin-bottom: 0 !important;
        }

        &-name {
            font-size: 16px;
            font-weight: $fw-regular;
        }

        &-position {
            font-size: 14px;
            font-weight: $fw-regular;
            color: rgba($dark-color, 50%);
        }
    }

}

@media (max-width: 430px) {

    .expert-opinion {
        padding: 19px 15px 22px 15px;

        &__title {
            font-size: 16px;
        }

        &__descr {
            font-size: 14px;
        }

        &__bottom {
            align-items: flex-start;
        }

    }

}