@use '../vars' as*;

.journal-notice {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    border: none;
    background-color: #E9E9E9;
    padding: 9px 28px 9px 19px;
    margin-top: 40px;

    &__text {
        position: relative;
        font-size: 16px;
        font-weight: $fw-regular;
        padding-left: 32px;

        &::before {
            position: absolute;
            content: "";
            width: 19px;
            height: 19px;
            background-image: url('/assets/icons/notice-icon.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            top: 0;
            left: 0;
        }

    }

    &__btn {
        width: 100%;
        max-width: 342px;
        font-size: 18px;
        padding: 22px 34px;
    }

    &--sidebar {
        flex-direction: column;
        gap: 15px;
        padding: 20px 15px;
        margin-top: 0;

        .journal-notice__btn {
            max-width: 100%;
        }
    }

    &--top {
        display: none;
        margin-bottom: 40px;
    }

}

@media(max-width: 768px) {

    .journal-notice {

        &--top {
            display: flex;
        }

        &--bottom {
            display: none;
        }

    }

}

@media(max-width: 640px) {

    .journal-notice {
        flex-direction: column;
        gap: 20px;
        padding: 25px 17px 25px 17px;

        &__btn {
            max-width: 100%;
        }
    }

}

@media(max-width: 430px) {

    .journal-notice {
        flex-direction: column;
        gap: 20px;
        padding: 25px 17px 25px 17px;

        &__text {
            font-size: 14px;
        }

    }

}