@use '../vars' as*;

.journal-section {
    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 30px;
    }

    &__item {
        display: block;
        width: calc(33.8988% - 20px);

        &-title {
            // font-size: 20px;
            font-size: clamp(1rem, 0.917rem + 0.37vw, 1.25rem);
            font-weight: $fw-medium;
            color: $dark-color;

            span {
                // font-size: 16px;
                font-size: clamp(0.875rem, 0.833rem + 0.19vw, 1rem);
                font-weight: $fw-light;
            }

        }

        &-img {
            width: 100%;
            max-height: 510px;
            object-fit: fill;
            margin-top: 15px;
        }

        &-pdf {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 57px;
            font-size: 14px;
            font-weight: $fw-medium;
            color: $accent-color;
            text-decoration: underline;
            text-decoration-color: $accent-color;
            border: none;
            transition: all .3s;
            text-align: center;
            padding: 0 20px;

            &:hover {
                background-color: $accent-color;
                color: $secondary-color;
                text-decoration-color: $secondary-color;
            }
        }
    }

    &--archive &__items {
        margin-top: 40px;
    }

    &--archive &__item {

        &-title {
            font-size: 16px;
        }

    }

}

@media(min-width: 992px) {

    .journal-section {
        &--archive &__item {
            width: calc(25.424% - 20px);
        }
    }

}

@media(max-width: 640px) {

    .journal-section {

        &__item {
            width: calc(51% - 20px);
        }

    }

}

@media(max-width: 430px) {

    .journal-section {

        &__items {
            flex-direction: column;
            gap: 30px;
        }

        &__item {
            width: 100%;

            &-title {
                text-align: center;
            }

        }

    }

}