@use '../vars' as *;

.overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	background: transparent;
}

.overlay--active {
	display: block !important;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 2 !important;
}