@use '../vars' as *;

.page-header {
    padding-top: 60px;

    &__title {
        color: $primary-color;

        &--single {
            text-transform: none;
        }
    }

    &__descr {
        max-width: 990px;
        font-size: 14px;
        margin-top: 25px;
    }

}

@media(max-width: 430px) {

    .page-header {

        &__title {
            text-align: center;
        }

        &__descr {
            text-align: center;
            margin-top: 15px;
        }

    }

}