    @use '../vars' as *;

    .pagination {
        // width: max-content;
        width: auto;
        margin: 60px auto;
        margin-bottom: 0;

        &__items {
            display: flex;
            // flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 5px;
        }

        &__item {
            width: 35px;
            height: 35px;
            border: 1px solid #E2E2E2;
            cursor: pointer;

            a, span {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                font-weight: $fw-regular;
                color: $accent-color;
                width: 100%;
                height: 100%;
            }

            &--current {
                border: 1px solid $accent-color;
                background-color: $accent-color;

                a {
                    color: $secondary-color;
                }
            }

            &:hover:not(.pagination__next, .pagination__prev, .pagination__item--current) {
                border: 1px solid rgba($color: $accent-color, $alpha: 1%);
                background-color: rgba($color: $accent-color, $alpha: 15%);
            }

        }

        &__prev,
        &__next {

            a {
                svg {
                    width: 6px;
                    height: 12px;
                }
            }

        }

    }