@use '../vars' as *;

.search-results-section {
    padding: 60px 0;
}

.search-results-list {
    max-width: 900px;
}

.search-result-item {
    background: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #009652;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 30px;
    margin-bottom: 20px;

    &__header {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 15px;
    }

    &__type {
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        color: #fff;
        background: $accent-color;
        padding: 4px 12px;
    }

    &__date {
        color: #999;
        font-size: 14px;
    }

    &__title {
        font-size: clamp(1rem, .917rem + .37vw, 1.25rem);
        font-weight: 700;
        line-height: 1.3;
        text-wrap: pretty;
        margin: 0 0 15px;

        a {
            color: #333;
            text-decoration: none;
            transition: color 0.3s ease;

            &:hover {
                color: #009652;
            }
        }
    }

    &__excerpt {
        color: #666;
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 20px;
    }


    &__link {
        display: inline-flex;
        align-items: center;
        color: #009652;
        font-weight: 600;
        text-decoration: none;
        transition: gap 0.3s ease;
        gap: 8px;

        &::after {
            content: '→';
            font-size: 18px;
            transition: transform 0.3s ease;
        }

        &:hover {
            gap: 10px;

            &::after {
                transform: translateX(4px);
            }
        }
    }
}

.search-form-wrapper {
    margin-top: 30px;
    margin-bottom: 60px;

    input[type="search"] {
        width: 100%;
        max-width: 500px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 0px;
        transition: border-color 0.3s ease;
        padding: 12px 20px;

        &:focus {
            outline: none;
            border-color: #009652;
        }
    }

    &__btn {
        margin-top: 30px;
    }
}

.info-section {

    ul {
        margin: 20px 0;
        padding-left: 0;

        li {
            position: relative;
            font-size: 16px;
            line-height: 27px;
            color: #373435;
            padding-left: 20px;
            margin-bottom: 8px;

            &::before {
                position: absolute;
                content: "•";
                width: 5px;
                height: 5px;
                font-weight: 700;
                color: #009652;
                top: -1px;
                left: 0;
            }
        }
    }

}

@media(max-width: 430px) {

    .search-result-item {
        &__excerpt {
            font-size: 14px;
        }
    }

}