@use '../vars' as *;

.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
        display: flex;
        // font-size: 24px;
        font-size: clamp(1.25rem, 1.167rem + 0.37vw, 1.5rem);
        font-weight: $fw-semibold;
        align-items: center;
        text-transform: uppercase;
        gap: 17px;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 13px;
        height: 18px;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__link {
        display: block;
        font-size: 18px;
        font-weight: $fw-regular;
        color: $accent-color;
        text-decoration: underline;
        text-underline-offset: 3px;

        &-bottom {
            display: none;
        }

        &:hover {
            color: $accent-color;
            text-decoration: unset;
        }
    }
}

@media(max-width: 430px) {

    .section-header {
        justify-content: center;

        &__link {
            &-top {
                display: none;
            }

            &-bottom {
                display: block;
                text-align: center;
                margin-top: 30px;
            }
        }

        &--home {
            justify-content: start;
        }

    }

}