@use '../vars' as*;

.widget-events {
    width: 100%;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    &__title {
        font-size: 20px;
        font-weight: $fw-semibold;
        line-height: 15px;
    }

    &__list {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        margin-top: 12px;

        &-info {
            width: 154px;
        }

        &-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            text-align: end;
            border-bottom: 1px solid #9D9D9D;
            cursor: pointer;
            transition: border-bottom 0.3s ease;

            &:hover {
                .widget-events__list-date {
                    background-color: rgba($color: $accent-color, $alpha: 15%);
                    color: $accent-color;
                }

                border-bottom: 1px solid $accent-color;
            }
        }

        &-date {
            width: 100%;
            max-width: 94px;
            font-size: 16px;
            font-weight: $fw-regular;
            color: rgba($color: $dark-color, $alpha: 50%);
            text-align: center;
            background-color: #E0E0E0;
            padding: 24.5px 0;
            transition: all 0.3s ease;

            span {
                display: block;
                font-size: 22px;
                font-weight: $fw-regular;
            }

        }

        &-city {
            font-size: 16px;
            font-weight: $fw-semibold;
        }

        &-name {
            font-size: 16px;
            font-weight: $fw-regular;
            margin-top: 10px;
        }

    }

    &__more {
        display: inline-block;
        font-size: 14px;
        color: rgba($color: $dark-color, $alpha: 50%);
        text-decoration: underline;
        text-underline-offset: 1.5px;
        align-self: flex-end;
        margin-top: 23px;

        &:hover {
            text-decoration: unset;
        }
    }

}