@use '../vars' as *;

.widget-subscribe {
    background-color: $accent-color;
    padding: 23px 25px;

    &__title {
        font-size: 16px;
        font-weight: $fw-medium;
        color: $secondary-color;
    }

    &__descr {
        font-size: 14px;
        font-weight: $fw-regular;
        color: $secondary-color;
        text-wrap: pretty;
        margin-top: 15px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-top: 25px;

        input {
            color: $secondary-color;
            border-radius: 0px;
            border: 1px solid rgba($color: $secondary-color, $alpha: 50%);
            background-color: transparent;
            padding: 10px 0 13px 15px;

            &::placeholder {
                font-size: 14px;
                font-weight: $fw-regular;
                background-color: transparent;
                color: rgba($color: $secondary-color, $alpha: 50%);
            }
        }

        button {
            max-width: 100%;
            border-radius: 0px;
            border: 1px solid $secondary-color;
            background-color: $secondary-color;
            font-size: 14px;
            color: $accent-color;
            padding: 13.5px 34px;

            &:hover {
                color: $secondary-color !important;
                border: 1px solid $secondary-color;
                background-color: transparent;
            }
        }

        &-checkbox {
            display: flex;
            gap: 10px;

            input[type="checkbox"] {
                position: relative;
                width: 17px;
                height: 17px;
                appearance: none;
                -webkit-appearance: none;
                border: 1px solid $secondary-color;
                flex-shrink: 0;
                cursor: pointer;
                padding: 0;

                &:checked {
                    background-color: $secondary-color;
                    border-color: $secondary-color;

                    &::after {
                        content: '';
                        position: absolute;
                        left: 5px;
                        top: 2px;
                        width: 5px;
                        height: 9px;
                        border: solid $accent-color;
                        border-width: 0 2px 2px 0;
                        transform: rotate(45deg);
                    }
                }
            }

            label {
                font-size: 11px;
                font-weight: $fw-regular;
                text-wrap: balance;
                color: $secondary-color;
                cursor: pointer;

                a {
                    color: $secondary-color;
                    text-decoration: underline;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }

    }

}

@media(max-width: 430px) {

    .widget-subscribe {
        padding: 25px 33px;
    }

}