.expert-opinion {
    background-color: #e6f5ee;
    border: none;
    padding: 19px 49px 19px 15px;
}

.expert-opinion__title {
    font-size: 20px;
    font-weight: 600;
}

.expert-opinion__descr {
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
}

.expert-opinion__bottom {
    align-items: center;
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.expert-opinion__bottom-img {
    width: 45px;
    height: auto;
    margin-bottom: 0 !important;
}

.expert-opinion__bottom-name {
    font-size: 16px;
    font-weight: 400;
}

.expert-opinion__bottom-position {
    color: #58555580;
    font-size: 14px;
    font-weight: 400;
}

@media(max-width:430px) {
    .expert-opinion {
        padding: 19px 15px 22px;
    }
    .expert-opinion__title {
        font-size: 16px;
    }
    .expert-opinion__descr {
        font-size: 14px;
    }
    .expert-opinion__bottom {
        align-items: flex-start;
    }
}